/* DESKTOP */
@media (min-width: 800px) {
	.panel-portada-opcion-heading {
	  vertical-align: text-bottom;
	  height: 100px;
	}
	.panel-portada-opcion-body {
	  height: 200px;
	}
	.panel-portada-opcion-footer {
	  height: 80px;
	}
}
/* MOVIL */
@media (max-width: 800px) {
	.panel-portada-opcion-heading {
	  vertical-align: text-bottom;
	  min-height: 50px;
	  max-height: 100px;
	}
	.panel-portada-opcion-body {
	  min-height: 50px;
	  max-height: 200px;
	}
	.panel-portada-opcion-footer {
	  min-height: 80px;
	  max-height: 80px;
	}
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}